/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/page.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.page_main__GlU4n {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.page_description__86bsR {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.page_description__86bsR a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.page_description__86bsR p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.page_code__9lUUd {
  font-weight: 700;
  font-family: var(--font-mono);
}

.page_grid__f5Kdy {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  max-width: 100%;
  width: var(--max-width);
}

.page_card__QV0Om {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.page_card__QV0Om span {
  display: inline-block;
  transition: transform 200ms;
}

.page_card__QV0Om h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.page_card__QV0Om p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
  text-wrap: balance;
}

.page_center__5oHG7 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.page_center__5oHG7::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.page_center__5oHG7::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.page_center__5oHG7::before,
.page_center__5oHG7::after {
  content: "";
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.page_logo__7fc9l {
  position: relative;
}
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .page_card__QV0Om:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .page_card__QV0Om:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .page_card__QV0Om:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .page_content__kDoxQ {
    padding: 4rem;
  }

  .page_grid__f5Kdy {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .page_card__QV0Om {
    padding: 1rem 2.5rem;
  }

  .page_card__QV0Om h2 {
    margin-bottom: 0.5rem;
  }

  .page_center__5oHG7 {
    padding: 8rem 0 6rem;
  }

  .page_center__5oHG7::before {
    transform: none;
    height: 300px;
  }

  .page_description__86bsR {
    font-size: 0.8rem;
  }

  .page_description__86bsR a {
    padding: 1rem;
  }

  .page_description__86bsR p,
  .page_description__86bsR div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .page_description__86bsR p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    -webkit-backdrop-filter: blur(24px);
            backdrop-filter: blur(24px);
  }

  .page_description__86bsR div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .page_grid__f5Kdy {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .page_vercelLogo__rOY_u {
    filter: invert(1);
  }

  .page_logo__7fc9l {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes page_rotate__durgN {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

